{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary fuente-navbar">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="{% url "index" %}">
            <img  src="{% static 'imgs/cultivai.jpeg' %}" height="45" class="me-2">
                CultivAI
            </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'graficos' %}">Gráficos</a></li>
            </ul>
        </div>
    </div>
</nav>